<h1>
  検索結果
</h1>
<% if @results.length !=0 %>
  <div class="contents row">
  <% @results.each do |court| %>
    <%= render partial: "court", locals: { court: court } %>
  <% end %>
</div>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>