<h1 class="searchresults">
  検索結果
</h1>
<% if @results.length !=0 %>
  <div class="contents row">
  <% @results.each do |court| %>
    <%= render partial: "court", locals: { court: court } %>
  <% end %>
</div>
<% else %>
  <div class="searchback">該当する場所はありません</div>
<% end %>
<br>
<div class="nav-item active">
<%= link_to 'トップページへ戻る', root_path, class: "nav-link" %>
</div>